  
/* On smaller screens */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
    .mainNavbar { margin-bottom: 10%;}
    
    /* .logo {left: 24%;position: absolute;}*/
}
 /* On Larger screens */
@media only screen and (min-width: 900px){
.branchNavbar li {position: relative; left: 40%}
 
}          
    
/* -----------------------------------------------------------------------------------------------------*/
            /* to center my carousal images*/     
            .carousel-inner img {margin: auto;}         
            
            body{ 

    font-family: 'Sarabun', sans-serif;background-color:#f2f2f2;color: #5c8aad ;position: relative;}
            
            /*slider images css*/
            .sliderImages{ height: 500px; ;background-size: cover}
            /*my to be announced space*/
            
            .tobeAnnounced { text-align: center; margin-left: auto; margin-right: auto; padding: 20% 10% }
            

            .mainNavbar li {list-style-type: none}
            
            /* Organizer div*/
             .organizers h1 {text-align: center ; margin-bottom: 3%}
             .organizers img{margin: auto;display: block; border-radius: 100% ; width: 55% ; height: 75%}
             .organizers h4{margin: auto;display: block; text-align: center; ;border: 2px solid #5c8aad;width: 65%; padding: 10px 0px; margin: 3% 18% ;}  

            /* main Navbar Css
            to center my logo in main navbar*/
             .brandd {position: absolute;left: 50%; top: 15%;margin-left: -50px !important;  /* 50% of your logo width */display: block;}

        /* Advisory board*/
            .TA {margin-bottom: 6%; margin-top: 2%}
            
                     
    /* text on Image */
    @media only screen and (max-width: 1000px) {
  .sbme h3 {font-size: 20px}
    /* .logo {left: 24%;position: absolute;}*/
         /*footnote mail
        .fa-envelope b {{font-size: 6px}}*/
}


            .footNote{background-color:#5c8aad; text-align: center;padding: 3%;}
            .footNote ul{list-style-type: none;}
            .footNote li{padding-left: 2%;text-align: left}
.footNote h4{font-weight: bold; margin-bottom: 4%}
  
